.recomendacao{
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    margin: 1em 1.8em; 
    padding: 0.7em;   
}
.recomendacao__descricao, .recomendacao__icons{
    display: flex;
    justify-content: space-between;

} 
.recomendacao__icons{
    margin-top: 1em;
}
.descricao__titulo{
    color: var(--title-color);
    font-weight: 700;
    line-height: 24px;
}
.descricao__titulo-livro{
    margin: 0.5em 0;
    color:  #002F52;
    font-size: 18px;
    font-weight: 700;
    line-height: 27px;
}
.descricao__texto{
    color: #002F52;
    font-size: 14px;
    line-height: 21px;
    margin-right: 1.2em;
}
.descricao__link{
    color: var(--white-color);
    background-color: var(--title-color);
    padding: 1.2em 2.2em;
    font-weight: 700;
    text-decoration: none;
}
.icons{
    margin: 0.5em 0.5em;
}

@media screen and (min-width: 1024px){
    .recomendacao{
        width: 50%;
        margin: 3em auto;
    }
    .descricao__texto{
        font-size: 16px;
    }

}  

@media screen and (min-width: 1728px) { 

    .recomendacao {
        width: 35%;
    }

    .descricao__titulo{
        font-size: 32px;
        line-height: 48px;
    }

    .descricao__texto{
        margin-right: 7em;
    }

    .descricao__link{
        padding: 1.3em;
    }

    .recomendacao__icons a{
        text-align: center;
    }


}